<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Coders</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <nav>
            <img src="/img/this.png" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Blog.html">Blog</a></li>
                <li><a href="/Contact.html">Contact Us</a></li>
                <li><a href="/Email.html">Email Us</a></li>
            </ul>
        </nav>

        <div class="text-box">
            <p>We're</p>
            <h1>Mountain Coders</h1>
            <h3>Code With Us</h3>

            <div class="row">
                <a href="">Explore Us </a>
                <a href="">Connect With Us <span>&#x21fe;</span></a>
                <span>You can Explore more about us as well as <br> About
                    Our Members</span>
            </div>

        </div>



        <div class="social-icons">
            <a href=""><img src="/img/dribble.png" alt=""></a>
            <a href=""><img src="/img/instagram.png" alt=""></a>
            <a href=""><img src="/img/telegram.png" alt=""></a>
        </div>
    </div>
</body>

</html>